@mixin flex {
    display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
}

@mixin borders {
    border-radius: 20%;
    border: 1px solid black;
    background-color: aqua;
}

header {
    nav {
        .menu {
            background-color: $bg_verde;
            list-style-type: none;
            padding: 0;
            margin: 20px auto;
            width: 95%;
            @include flex;

            li {
                padding: 10px;
                margin: 10px;

                a {
                    color: $bg_claro;
                    text-decoration: none;
                    padding: 20px;
                    &:hover {
                        background-color: $bg_verde;
                        color: $bg_claro;
                    }
                }
            }
        }
    }
}

.section {
    width: 90%;
    @include borders;
}